// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#locations {
  float: left;
  width: 300px;

  div.errorMessage {
    color: red;
  }

  .error {
    background-color: #FFBFBF;
  }

  .location {
    padding: 2em 0.5em;

    border-bottom: 2px solid black;

    .edit {
      display: none;
    }

    button {
      float: right;
    }
  }
}
